.App {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 450px auto;

  h1 {
    font-size: 60px;
    color: black;
    width: 90%;
    margin: 10px auto -60px;
    box-sizing: border-box;
    z-index: 10;
  }

  h3 {
    font-size: 30px;
    color: red;
    margin: 0px;
  }

  button {
    cursor: pointer;
    transition: 0.5s;
  }


  .doorControl {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 100px;
    font-size: 18px;
    background: white;
    border: 1px solid black;
    &:hover {
      background: black;
      color: white;
    }
  }
}
