@import url(./garage-bin-icons/css/garagebin.css);
.App {
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 330px auto;
  background: #e3e3e3; }
  .App h1 {
    font-size: 60px;
    color: black;
    width: 90%;
    margin: 10px auto -60px;
    box-sizing: border-box;
    z-index: 10; }
  .App h3 {
    font-size: 30px;
    color: red;
    margin: 0px;
    font-weight: 300; }
  .App button {
    cursor: pointer;
    transition: 0.5s; }
  .App .doorControl {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 100px;
    font-size: 18px;
    background: white;
    border: 1px solid black; }
    .App .doorControl:hover {
      background: black;
      color: white; }
