.Form {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  height: 280px;
  margin: 0px auto 30px;
  z-index: 1; }
  .Form h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -40px;
    color: red; }
  .Form input,
  .Form button {
    font-size: 30px;
    height: 50px; }
  .Form input {
    padding-left: 10px; }
  .Form button {
    border: 1px solid black;
    background: white; }
    .Form button:hover {
      background: black;
      color: white; }
