.GarageDoor {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../../gdoor4.jpg");
  background-size: auto 100%;
  transition: 2.5s;
  z-index: 3; }
  .GarageDoor.open {
    top: -1000px; }
  .GarageDoor.closed {
    top: 0px; }
