.GarageDoor {
  position: fixed;
  height: 100%;
  width: 100%;
  // background: rgb(205, 148, 148);
  // background-image: url('../../package.jpg');
  background-image: url('../../gdoor4.jpg');
  background-size: auto 100%;
  transition: 2.5s;
  z-index: 3;

  &.open {
    top: -1000px;
  }

  &.closed {
    top: 0px;
  }

}