.ItemCount {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 300px;
  margin: 0px auto;

  h5 {
    font-size: 25px;
    border-top: 1px solid black;
  }

  h6 {
    font-size: 20px;
  }

  h5, h6 {
    margin: 0px;
    padding: 5px;
    &:nth-of-type(odd) {
      text-align: left;
    }
    &:nth-of-type(even) {
      text-align: right;
    }
  }
}